.titleBlock {
  display: flex;
}

.cta {
  margin-left: auto;
}

.items:not(:last-child) {
  margin-bottom: 0.5rem;
}

.noItems {
  margin-top: 0;
  text-align: center;
}

.filter {
  width: 100%;
  margin-bottom: 0.5rem;
}
